html{
    height: 100vh;
    overflow: hidden;
    user-select: none;
    background-color: #0C8D3A;
}

body{
    margin: 0;
    overflow: hidden;
    height: 100vh;
    font-size: 150%;
    padding-bottom: 10vh;
}

#menu{
    color: #e7efdd;
    text-align: center;
    vertical-align: middle;
    font-size: 150%;
    height: 100vh;
}

#menu input{
    min-height: 5vh;
    width: 5vh;
}

#menu button{
    background-color: #7C171D;
    border: solid #e7efdd;
    border-radius: 15px;
    width: 70%;
    height: 10vh;
    margin: 1vh;
    font-size: 100%;
}

#menu button:hover{
    background-color: rgb(179, 32, 41);
}

#menu button:active{
    background-color: rgb(201, 35, 46);
}

.placar{
    color: #e7efdd;
    text-align: center;
    vertical-align: middle;
    font-size: 250%;
    min-height: 10vh;
}

table{
    height: 80vh;
    width: 100%;
    padding: 0;
    margin: 0;
}

td{
    padding: 0;
}

.box{
    color: transparent;
    background-color: #000000;
    height: 7vh;
    width: 10%;
    border: 0.3vh solid #e7efdd;
    position: relative;
}

.box2{
    color: transparent;
    background-color: #ff0000;
    height: 7vh;
    width: 10%;
    border: 0.3vh solid #e7efdd;
    position: relative;
}

.flipped{
    background-color: #e7efdd;
    height: 7vh;
    width: 10%;
    text-align: center;
    border: 0.3vh solid #e7efdd;
}

/*Side Menu Style*/
.aux{
    background-color: #e7efdd;
    height: 7vh;
    width: 10%;
    text-align: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    border: 0.3vh solid black;
}

.subT{
    height: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
}

.subTLine {
    border-bottom: solid black;
    text-align: center;
}

.bomb{
    background-image: url("../Images/bomb.png");
    width: 50%;
}

.mark{
    background-color: #7C171D;
    text-align: center;
    border: solid black;
    max-width: 5vh;
    vertical-align: middle;
    background-image: url("../Images/pencil.png");
}

.mark:hover{
    background-color: rgb(179, 32, 41);
}

.mark:active{
    background-color: rgb(201, 35, 46);
}

.markSelcted{
    background-color: lightgray;
    color: transparent;
    border: solid black;
}

.markOpt{
    text-align: center;
    vertical-align: middle;
    max-height: 50px;
    max-width: 50%;
    font-size: 200%;
}

.markOpt:hover{
    background-color: lightgray;
}

.markOpt:active{
    background-color: rgb(121, 116, 116);
}

/*Marking Menu Icons*/
.Mbomb{
    background-image: url("../Images/MarkBomb.png");
}

.M1{
    background-image: url("../Images/Numbers/Mark1.png");
}

.M2{
    background-image: url("../Images/Numbers/Mark2.png");
}

.M3{
    background-image: url("../Images/Numbers/Mark3.png");
}

/*Card markings*/
.mb{
    position: absolute;
    top: 1%;
    left: 1%;
    height: 45%;
    width: 45%;
    background-image: url("../Images/MarkBomb.png");
    pointer-events:none
}

.m1{
    background-image: url("../Images/Numbers/Mark1.png");
    position: absolute;
    top: 1%;
    right: 1%;
    height: 45%;
    width: 45%;
    background-color: transparent;
    z-index: 3;
    pointer-events:none
}

.m2{
    background-image: url("../Images/Numbers/Mark2.png");
    position: absolute;
    bottom: 1%;
    left: 1%;
    height: 45%;
    width: 45%;
    background-color: transparent;
    z-index: 3;
    pointer-events:none
}

.m3{
    background-image: url("../Images/Numbers/Mark3.png");
    position: absolute;
    bottom: 1%;
    right: 1%;
    height: 45%;
    width: 45%;
    background-color: transparent;
    z-index: 3;
    pointer-events:none
}

/*Card Numbers Sprites*/
.card1{
    background-image: url("../Images/Numbers/1.png");
}

.card2{
    background-image: url("../Images/Numbers/2.png");
}

.card3{
    background-image: url("../Images/Numbers/3.png");
}

.Fbomb{
    background-image: url("../Images/bomb.png");
    height: 7vh;
    width: 10%;
    background-color: #e7efdd;
    border: 0.5vh solid #e7efdd;
}

/*Popups*/
.modal{
    display: none; 
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
}

#Tmodal .modal-content{
    margin-bottom: 10vh;
    overflow:overlay;
    text-overflow: clip;
    position: relative;
}

#Tmodal .modal-content span{
    position: sticky;
    right: 0;
    top: 0;
}

.modal-content{
    background-color: #fefefe;
    margin: 10% auto;
    padding: 2%;
    border: 1px solid #888;
    max-height: 70%;
    width: 80%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Menu Spreites*/
.cMode{
    background-image: url("../Images/ClassicModeText.png");
}

.tMode{
    background-image: url("../Images/TimerModeText.png");
}

.tutorial{
    background-image: url("../Images/TutorialText.png");
}

.logo{
    background-image: url("../Images/BombFlipLogo.png");
    min-height: 30vh;
    margin-top: 3%;
}

/*Sprite base attributes*/
.spriteText{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    color: transparent;
    image-rendering: pixelated;
}